*.o
*.a
*.so
*.ko
*.mod
*.mod.c
*.symvers
*.order
*.cmd
*.tmp
*.tmp_*
*.dtb
*.dtb.S
*.s
*.i
*.ll
*.su
*.dwo
*.elf
*.bin
*.gz
*.lz4
*.lzma
*.zst
Module.symvers
modules.order
modules.builtin
modules.builtin.modinfo
vmlinux
vmlinux.o
vmlinux.symvers
System.map
.config
.config.old
include/config/
include/generated/
arch/arm64/include/generated/
kernel/config_data
modules-only.symvers
build.log
